set high-availability vrrp group lan1 address 10.0.5.1/24
set high-availability vrrp group lan1 interface 'eth1'
set high-availability vrrp group lan1 priority '100'
set high-availability vrrp group lan1 vrid '10'
set high-availability vrrp group opt1 address 10.0.6.1/24
set high-availability vrrp group opt1 interface 'eth2'
set high-availability vrrp group opt1 priority '100'
set high-availability vrrp group opt1 vrid '20'
set high-availability vrrp group wangroup14 address 10.0.17.114/24
set high-availability vrrp group wangroup14 interface 'eth0'
set high-availability vrrp group wangroup14 priority '100'
set high-availability vrrp group wangroup14 vrid '164'
set interfaces ethernet eth0 address '10.0.17.84/24'
set interfaces ethernet eth0 description 'WAN'
set interfaces ethernet eth0 hw-id '00:50:56:a1:d0:8e'
set interfaces ethernet eth1 address '10.0.5.3/24'
set interfaces ethernet eth1 description 'LAN'
set interfaces ethernet eth1 hw-id '00:50:56:a1:1b:31'
set interfaces ethernet eth2 address '10.0.6.3/24'
set interfaces ethernet eth2 description 'OPT'
set interfaces ethernet eth2 hw-id '00:50:56:a1:4a:4b'
set nat destination rule 1 description 'WAN -> WEB-01'
set nat destination rule 1 destination port '80'
set nat destination rule 1 inbound-interface 'eth0'
set nat destination rule 1 protocol 'tcp'
set nat destination rule 1 translation address '10.0.6.10'
set nat destination rule 2 description 'WAN -> WEB-01 SSH'
set nat destination rule 2 destination port '22'
set nat destination rule 2 inbound-interface 'eth0'
set nat destination rule 2 protocol 'tcp'
set nat destination rule 2 translation address '10.0.5.100'
set nat source rule 1 outbound-interface 'eth0'
set nat source rule 1 source address '10.0.5.0/24'
set nat source rule 1 translation address 'masquerade'
set nat source rule 200 outbound-interface 'eth0'
set nat source rule 200 source address '10.0.6.0/24'
set nat source rule 200 translation address 'masquerade'
set protocols static route 0.0.0.0/0 next-hop 10.0.17.2
set service dns forwarding allow-from '10.0.5.0/24'
set service dns forwarding allow-from '10.0.6.0/24'
set service dns forwarding listen-address '10.0.5.3'
set service dns forwarding listen-address '10.0.5.1'
set service dns forwarding listen-address '10.0.6.1'
set service ssh listen-address '0.0.0.0'
set system name-server '10.0.17.2'
